<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thn.lexi">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:name=".AppApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".welcome.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleInstance"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".user.login.LoginActivity" android:launchMode="singleInstance"/>
        <activity android:name=".index.detail.GoodsDetailActivity" />
        <activity android:name=".user.register.RegisterActivity" android:launchMode="singleInstance"/>
        <activity android:name=".user.password.ForgetPasswordActivity"/>
        <activity android:name=".user.setting.SettingActivity"/>
        <activity android:name=".MainActivity" android:launchMode="singleTask"/>
        <activity android:name=".user.password.SetNewPasswordActivity" />
        <activity android:name=".user.areacode.SelectCountryOrAreaActivity" />
        <activity android:name=".user.register.SetPasswordActivity" />
        <activity android:name=".user.completeinfo.CompleteInfoActivity" />
        <activity android:name=".album.ImageCropActivity" />
        <activity android:name=".album.ImageSelectActivity" />
        <activity android:name=".selectionGoodsCenter.SelectionGoodsCenterActivity" />
        <activity android:name=".discoverLifeAesthetics.DiscoverLifeAestheticsActivity" />
        <activity android:name=".discoverLifeAesthetics.ShowWindowDetailActivity" />
        <activity android:name=".discoverLifeAesthetics.ShowWindowCommentListActivity" />
        <activity android:name=".brandPavilion.BrandPavilionListActivity" />
        <activity android:name=".mine.DynamicActivity" />
    </application>

</manifest>