<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lexivip.lexi">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAG"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:name="com.lexivip.lexi.AppApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <!--android8.0需要的配置，主要是调用相机-->
        <provider
            android:authorities="com.lexivip.basemodule.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>

        <activity
            android:name=".UserGuideActivity"
            android:label="@string/app_name"
            android:theme="@style/NoTitleFullscreen"
            android:launchMode="singleInstance"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".welcome.WelcomeActivity" />
        <activity android:name=".user.login.LoginActivity" android:launchMode="singleTask"/>
        <activity android:name=".index.detail.GoodsDetailActivity" />
        <activity android:name=".user.register.RegisterActivity" android:launchMode="singleTask"/>
        <activity android:name=".user.password.ForgetPasswordActivity"/>
        <activity android:name=".user.setting.SettingActivity"/>
        <activity android:name=".MainActivity" android:launchMode="singleTask"/>
        <activity android:name=".user.password.SetNewPasswordActivity" />
        <activity android:name=".user.areacode.SelectCountryOrAreaActivity" />
        <activity android:name=".user.register.SetPasswordActivity" />
        <activity android:name=".user.completeinfo.CompleteInfoActivity" />
        <activity android:name=".album.ImageCropActivity" />
        <activity android:name=".album.ImageSelectActivity" />
        <activity android:name=".selectionGoodsCenter.SelectionGoodsCenterActivity" />
        <activity android:name=".discoverLifeAesthetics.DiscoverLifeAestheticsActivity" />
        <activity android:name=".discoverLifeAesthetics.ShowWindowDetailActivity" />
        <activity android:name=".discoverLifeAesthetics.ShowWindowCommentListActivity" android:windowSoftInputMode = "adjustResize"/>
        <activity android:name=".brandPavilion.BrandPavilionListActivity" />
        <activity android:name=".mine.dynamic.DynamicActivity" />
        <activity android:name=".index.detail.FavoriteUserListActivity" />
        <activity android:name=".order.SelectExpressAddressActivity" />
        <activity android:name=".order.ConfirmOrderActivity" />
        <activity android:name=".address.AddressActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".orderList.OrderListActivity" />
        <activity android:name=".orderList.LogisticsActivity"/>
        <activity android:name=".orderList.EvaluateActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".orderList.OrderDetailActivity"/>
        <activity android:name=".order.SelectExpressActivity" />
        <activity android:name=".search.SearchResultActivity" android:launchMode="singleTask"/>
        <activity android:name=".search.SearchActivity" android:launchMode="singleTask"/>
        <activity android:name=".index.explore.editorRecommend.AllEditorRecommendActivity" />
        <activity android:name=".index.explore.collection.CollectionListActivity" />
        <activity android:name=".index.explore.collection.CollectionDetailActivity" />
        <activity android:name=".index.explore.newGoods.AllNewGoodsActivity" />
        <activity android:name=".index.explore.goodDesign.AllGoodDesignActivity" />
        <activity android:name=".index.explore.goodsIn100.AllGoodsIn100Activity" />
        <activity android:name=".index.selection.goodsSelection.AllGoodsSelectionActivity" />
        <activity android:name=".mine.like.likeGoods.AllLikeGoodsActivity" />
        <activity android:name=".mine.enshrine.recentLook.AllRecentLookGoodsActivity" />
        <activity android:name=".index.explore.goodsClassify.GoodsClassifyActivity" />
        <activity android:name=".pay.SelectPayWayActivity" />
        <activity android:name=".pay.PayResultActivity" />
        <activity android:name=".lifeShop.AccountDetailActivity" />
        <activity android:name=".lifeShop.AccountStatementActivity" />
        <activity android:name=".lifeShop.PutForwardActivity" />
        <activity android:name=".lifeShop.TransactionOrderActivity" />
        <activity android:name=".lifeShop.TransactionRecordActivity" />
        <activity android:name=".search.OrderCustomMadeGoodsActivity" />
        <activity android:name=".brandHouse.BrandHouseActivity" />
        <activity android:name=".selectionGoodsCenter.PutAwayActivity" />
        <activity android:name=".brandHouse.AboutBrandHouseActivity"/>
        <activity android:name=".index.detail.GoodsImageViewActivity" />
        <activity android:name=".index.selection.OpenLifeHouseActivity" />
        <activity android:name=".index.discover.ComposerStoryActivity" />
        <activity android:name=".index.discover.ArticleDetailActivity" />
        <activity android:name=".user.setting.userData.EditUserDataActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".brandHouse.CloseHouseActivity"/>
        <activity android:name=".user.setting.address.AddressListActivity"/>
        <activity android:name=".receiveVoucher.ReceiveVoucherActivity"/>

        <!--微博-->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false"
            >
        </activity>
        <activity android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            >
        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:launchMode="singleTask"
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--微信-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--qq-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".coupon.UserCouponActivity" />
    </application>

</manifest>